<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html ng-app="app" >
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <script language="javascript" type="text/javascript" src="angularjs/js/angular.js"></script>
        <script language="javascript" type="text/javascript" src="index.js"></script>
    </head>
    <body ng-controller="entidadBancariaCtrl"><button ng-click="readEntidad()">Leer</button>
        
        <p>idEntidad:{{entidad.idEntidadBancaria}}</p>
        <p>Codigo Entidad:{{entidad.codigoEntidad}}</p>
        <p>Nombre:{{entidad.nombre}}</p>
        <p>CIF:{{entidad.cif}}</p>
        <p>Tipo Entidad:{{entidad.entidad}}</p>
        
        <button ng-click="readEntidades()">Leer Entidad</button>
        
            <table>
            <tr>
                <td>idEntidad</td>
                <td>Codigo Entidad</td>
                <td>Nombre</td>
                <td>CIF</td>
                <td>Tipo Entidad</td>
            </tr>
            <tr ng-repeat="entidad in entidadesBancarias" >
                <td>{{entidad.idEntidadBancaria}}</td>
                <td>{{entidad.codigoEntidad}}</td>
                <td>{{entidad.nombre}}</td> 
                <td>{{entidad.cif}}</td> 
                <td>{{entidad.entidad}}</td> 
            </tr>

        </table>
    </body>
</html>
